                body {
                    margin: 0;
                    font-family: Arial, sans-serif;
                    background: #000;
                    color: #fff;
                    overflow-x: hidden;
                }
                /*  
                
                body::before,
                body::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    width: 400px;
                    height: 100%;
                    pointer-events: none;
                    z-index: 0;
                    background-repeat: no-repeat;
                    background-size: cover;
                    opacity: 0.8;
                    filter: blur(100px);
                }
                
                body::before {
                    left: -150px;
                    background: radial-gradient(circle at 30% 40%, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0.2) 40%, transparent 70%);
                }
                
                body::after {
                    transform: scale(1.5);
                    right: -150px;
                    background: radial-gradient(circle at 70% 40%, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0.2) 40%, transparent 70%);
                }
                 */
                
                .topbar {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 20px 70px;
                    position: relative;
                    z-index: 10;
                }
                
                .logo img {
                    height: 60px;
                }
                
                .navbar {
                    display: flex;
                    gap: 30px;
                    font-size: 20px;
                }
                
                .navbar a {
                    color: white;
                    text-decoration: none;
                    font-weight: 750;
                }
                
                .navbar .btn-consult {
                    background: #9eff00;
                    color: #000;
                    padding: 8px 16px;
                    border-radius: 20px;
                    font-weight: bold;
                }
                
                .container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 80px;
                    position: relative;
                    z-index: 1;
                }
                
                .left {
                    max-width: 50%;
                }
                
                .subtitle {
                    font-size: 14px;
                    color: #ccc;
                    margin-bottom: 10px;
                }
                
                .highlight-btn {
                    background: #9eff00;
                    color: #000;
                    padding: 8px 16px;
                    border-radius: 20px;
                    font-weight: bold;
                    border: none;
                    margin-bottom: 20px;
                    cursor: pointer;
                }
                
                .headerleft h1 {
                    font-size: 50px;
                    margin: 10px 0;
                }
                
                .agency {
                    font-size: 18px;
                    color: #aaa;
                    margin: 10px 0;
                }
                
                .start-btn {
                    background: #9eff00;
                    color: #000;
                    padding: 8px 16px;
                    border-radius: 20px;
                    font-weight: bold;
                    border: none;
                    margin-bottom: -400px;
                    cursor: pointer;
                }
                
                .phone {
                    width: 700px;
                    height: auto;
                    max-width: 100%;
                    display: block;
                    margin: 0 auto;
                    margin-left: 200px;
                }